<h1 style="text-align: center;">【万華鏡写輪眼ガチャ】</h1>
<p style="text-align: center; font-size: 20px;">
あなたはイタチの真実を仮面の男から知らされた....<br>
「最愛の弟、お前だけは殺せなかった...」<br>「木の葉の里の平和のため、そして何より、うちはサスケ...お前のために<br>
犯罪者として、裏切り者として、死んでいくことを望んだ<br>
名誉の代償に汚名を...愛の代償に憎しみを受け取り<br>
それでもなお、イタチは笑って死んでいった...」
</p>
<p style="font-size: 30px; text-align: center; font-weight: bold;">許せサスケ...これで最後だ...</p>
<div style="display: block; margin-left: auto; width: 176px; margin-right: auto;">
  <%= link_to "万華鏡写輪眼を開眼する", staticpages_result_path, style: 'color: white;' %>
</div>
